@import "tailwindcss";
@plugin "daisyui"{
    themes: light --default, dark ;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: green;
  --color-secondary: #3b82f6;
}

/* @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *)); */

.text-glow {
  text-shadow:
    0 0 5px #3b82f6,   /* blue glow */
    0 0 10px #3b82f6,
    0 0 20px #3b82f6;
}
.text-shadow {
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}